{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destinations</title>
    <link
      href="{% static 'core/style.css' %}"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div id="container">
        <div id="top-banner">
          <h1>Sign Up</h1>
        </div>
      </div>
      <form action="/users/" method="post">
        <div id="input-container">
          <span>Name</span>

          <div class="username">
            {% if username_error %}
            <div style="color: red; font-size: 12px">Must Enter A Username</div>
            {% endif %}
            <input type="text" name="name" id="name" autocomplete="off" />
          </div>
          <span>Email</span>
          <div class="email">
            {% if email_error %}
            <div style="color: red; font-size: 12px">
              Email Address Must Contain @
            </div>
            {% endif %} {% if email_exists_error %}
            <div style="color: red; font-size: 12px">
              Email Address Is Already Registered
            </div>
            {% endif %}

            <input type="text" name="email" id="email" autocomplete="off" />
          </div>
          <span>Password</span>

          <div class="password">
            {% if password_error %}
            <div style="color: red; font-size: 12px">Must Enter A Password</div>
            {% endif %}
            <input
              type="password"
              name="password_hash"
              id="password"
              autocomplete="off"
            />
          </div>
          <button>Save</button>
        </div>
      </form>
    </main>
  </body>
</html>
